body {
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  max-width: 100%;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

button {
  display: block;
  margin: 0 auto;
  border: 1px solid plum;
  background: white;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
}

button:hover {
  background: plum;
  cursor: pointer;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
}

.theme-button {
  font-size: 10px;
  background: black;
  color: white;
  padding: 5 8px;
}

.theme-button:hover {
  color: black;
  background: white;
}

.bird-intro-picture {
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.bird-intro-picture:hover {
  filter: contrast(80%);
  transform: scale(1.1);
}

.grid {
  margin: 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid img {
  width: 100%;
  border-radius: 8px;
  transition: all 150ms ease-in-out;
}

.grid img:hover {
  transform: scale(2);
}

.dark {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  color: white;
}

.dark .container {
  background: rgba(255, 255, 255, 0.1);
}

.dark a {
  color: plum;
}
